/*****************************TAG SELECTOR**********************************/

body {
    background-color: gold;
}
  h1 {
    color: red;
    font-size: 120px;
    margin-bottom: 0px;
    margin-top: 75px;
}
  
p {
    color: red;
    font-size: 25px;
}
  
img {
    background-color: rgba(128, 128, 128, 0.541);
    border-style: solid;
    border-radius: 10px;
}
  
img:hover {
    background-color: rgba(56, 212, 61, 0.8);
}

/*****************************CLASS SELECTOR**********************************/

.chicken {
    border-color: red;
}
.broccoli {
    border-color: green;
}
  
/*****************************ID SELECTOR**********************************/
/*Different from Classes Selectors, we can use just one time*/

#odd {
    color: white;
}